<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Roll The Dice!!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <style>
        body{
            text-align: center;
        }
        a:link, a:visited{
            color: black;
            text-decoration: none;
        }

    </style>
</head>
<body>
    <h1>Time to roll that dice! Give it a shot!</h1>
    <h2>Pick a number</h2>
    <div class="btn-group btn-group-lg" role="group" aria-label="...">
        <button type="button" class="btn btn-default"><a href="roll-dice/1">1</a></button>
        <button type="button" class="btn btn-default"><a href="">2</a></button>
        <button type="button" class="btn btn-default"><a href="">3</a></button>
        <button type="button" class="btn btn-default"><a href="">4</a></button>
        <button type="button" class="btn btn-default"><a href="">5</a></button>
        <button type="button" class="btn btn-default"><a href="">6</a></button>
    </div>
</body>
</html>